<%- include header %>
<% posts.forEach(function(post, index){ %>
<p><h2><a href="/u/<%= post.name %>/<%= moment(post.createdAt).format('YYYYMMDD') %>/<%= post.title %>"><%= post.title %></a></h2></p>
<p class="info">
  author: <a href="/u/<%= post.name %>"><%= post.name %></a> | 
  date: <%= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss') %>
  tags: 
  <% post.tags.forEach(function(tag, index){ %>
    <% if(tag){ %>
      <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
    <% } %>
  <% }) %>
</p>
<p><%- post.content %></p>
<p><span>pv: </span><span><%= post.pageviewer %></span><span>pc: </span><span><%= post.comments.length %></span></p>
<% }) %>
<%- include page %>
<%- include footer %>
