<%- include header %>
<% posts.forEach(function(post, index){ %>
  <%- include content %>
<% }) %>
<div class="page">
  <% if(!isFirst && !isLast){ %>
  <span class="page"><a title="nextpage" href="?keyword=<%= title %>&p=<%= page + 1 %>">nextpage</a></span>
  <span class="page"><a title="prepage" href="?keyword=<%= title %>&p=<%= page - 1 %>">prepage</a></span>
  <% } %>
  <% if(isFirst && isLast){ %>
  <span class="page"></span><span class="page"></span>
  <% } %>
  <% if(!isFirst && isLast){ %>
  <span class="page">nextpage</span>
  <span class="page"><a title="prepage" href="?keyword=<%= title %>&p=<%= page - 1 %>">prepage</a></span>
  <% } %>
  <% if(isFirst && !isLast){ %>
  <span class="page"><a title="nextpage" href="?keyword=<%= title %>&p=<%= page + 1 %>">nextpage</a></span>
  <span class="page">prepage</span>
  <% } %>
</div>
<%- include footer %>