<%- include header %>
<% posts.forEach(function(post, index){ %>
<p><h2><a href="/u/<%= post.name %>/<%= moment(post.createdAt).format('YYYYMMDD') %>/<%= post.title %>"><%= post.title %></a></h2></p>
<p class="info">
  author: <%= post.name %>
  date: <%= moment(post.createdAt).format('YYYY-MM-DD HH:mm:ss') %>
  tags: 
  <% post.tags.forEach(function(tag, index){ %>
    <% if(tag){ %>
      <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
    <% } %>
  <% }) %>
</p>
<div>
  <% if(!isFirst){ %>
  <span class="page"><a title="prepage" href="?keyword=<%= title %>&p=<%= page - 1 %>">prepage</a></span>
  <% }else{ %>
  <span class="page"></span>
  <% } %>
  <% if(!isLast){ %>
  <span class="page"><a title="nextpage" href="?keyword=<%= title %>&p=<%= page + 1 %>">nextpage</a></span>
  <% }else{ %>
  <span class="page"></span>
  <% } %>
</div>
<% }) %>
<%- include footer %>